.days{
    display:flex;
    padding-bottom: 8px;
    margin-top: 4px*10;
    margin-left: 4px*10;
    .day{
        background-color: rgba(0, 0, 0, 0.9);
        padding: 0.5em 1em;
        margin-right: 8px;
        border-radius: 8px;
        &:nth-child(1){
            background-color:#ffc400;
            color:black;
            font-weight: bold;
        }
        &:hover{
            background-color:#ffc400;
            color:black;
        }
    }
}